.card-container{
    width: 90vw;
    margin: 0 auto;
    max-width: 50rem; 
}

.card-container h1,h3{
    margin-top: 2rem;
}

.card-container p{
    margin: 1rem 0 1rem 0;
}

.card{
    display: flex;
    flex-direction: column;
    width: 20rem;
    border-radius: 1rem;
    height: max-content;
    padding: 0;
    margin: 1rem;
    position: relative;
    box-shadow: 0 1px 3px var(--secondary-color-opaque), 0 1px 2px var(--ternary-color-opaque);
}

.card-image{
    position: relative;
	background-size: cover;
    width: 20rem;
    height: 9rem;
    background-repeat: no-repeat;
}

.card-head{
    display: flex;
    flex-direction: column;
}

.card-head:hover{
    background-color: var(--ternary-color-opaque);
}

.card-hrz .card-head{
    display: flex;
    flex-direction: row;
}

.card-details{
    margin: 1rem;
}

.card-title{
    font-family: var(--primary-font);
    font-size: 1.5rem;
    margin: 0;
}

.card-subtitle{
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    color: var(--secondary-color-shadow);
    margin-top: 0.5rem;
}

/* Add below class to enable text over media card */
.card-overlay-image .card-overlay-details{
    position: absolute;
    color: var(--ternary-color);
    background-color: rgba(0, 0, 0, 0.445);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box; 
} 

.card-overlay-details .card-subtitle{
    color: var(--ternary-color-shadow);
}

.card-closebtn {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: var(--ternary-color);
    cursor: pointer;
}

.card-closebtn:hover,.closebtn:focus {
    color: var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
}

.card-paragraph{
    font-family: var(--secondary-font);
    font-weight: 500;
    margin: 1rem;
    text-align: justify;
}

.card-actions{
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    justify-content: space-between;
}

.card-action-buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.text-button{
    background-color: var(--primary-color);
    border: none;
    color: var(--secondary-color);
    padding: 0.5rem;
    border-radius: 8px;
    font-family: var(--secondary-font);
    text-align: center;
    display: inline-block;
    font-size: 0.9rem;
    transition-duration: 0.4s;
    cursor: pointer;    
}

.card-action-icons{
    display: flex;
    flex-direction: row;
    font-size: 3rem;
}

.card-action-icons .icon-button{
    font-size: 1.25rem;
}

.card-badge{
    width: max-content;
    border-radius: 1rem;
    background: var(--ternary-color);
    box-shadow: 4px 4px 15px rgba(var(--secondary-color), 0.15);
    position : relative;
    color: var(--secondary-color-shadow);
}

.card-badge::before{
  position: absolute;
  top: 2.7rem;
  left:-0.5rem;
  content: '';
  background: #3949ab;
  height: 28px;
  width: 28px;
  transform : rotate(45deg);
}

.card-badge::after{
  position: absolute;
  content: attr(data-label);
  top: 1.5rem;
  left: -14px;
  padding: 0.5rem;
  width: 10rem;
  background: #3949ab;
  color: var(--ternary-color);
  text-align: center;
  font-family: var(--primary-font);
  box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
}

.card-badge .card{
    margin-left: 0;
}

.card-flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1rem;
}