.rating-container{
    width: 90vw;
    margin: 0 auto;
    max-width: 40rem; 
}

.rating-container h1,h3{
    margin-top: 2rem;
}

.rating-container p{
    margin: 1rem 0 1rem 0;
}

.display-rating-bar{
    display: flex;
    color: var(--ternary-color);
    background-color: green;
    width: max-content;
    padding: 0 4px;
    border-radius: 6px;
}

.display-rating-bar .fas, .display-rating-bar span{
    line-height: 2;
    margin: 0 4px;
    font-size: 12px;
}

.input-rating{
    display: flex;
}

.input-rating-icon {
  font-size: 1.3rem;
  padding: 0.3rem;
  cursor: pointer;
  color: var(--white-color);
}

.filled-icon {
    color: gold;
}